In [1]:
import numpy as np
import pandas as pd 
from zytholic_project.reviews_data import BaseModelRev

In [63]:
dfbeer = pd.read_csv("../raw_data/beers_style_renamed.csv")
dftop = pd.read_csv("../raw_data/top_beer_info_style_renamed.csv")
dfbeer2 = pd.read_csv("../raw_data/Beers_Breweries_and_Beer Reviews/beers.csv")

In [2]:
dfreviews = pd.read_csv("../raw_data/Beers_Breweries_and_Beer Reviews/reviews.csv",chunksize=1000000)

In [3]:
dfrev = pd.concat([chunk for chunk in dfreviews])

In [4]:
model = BaseModelRev()

model.get_data()
dfid = model.working_df['id']

dfidlist = dfid.to_list()

/root/.pyenv/versions/lewagon/envs/zytholic_project/lib/python3.8/site-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

In [6]:

#dfid = dfid.rename(columns={"id": "beer_id"})
dfrevclean =dfrev[dfrev['beer_id'].isin(dfidlist)]

dfrevclean

,beer_id,username,date,text,look,smell,taste,feel,overall,score
1,125646,_dirty_,2017-12-21,,4.50,4.50,4.50,4.50,4.50,4.50
2,125646,CJDUBYA,2017-12-21,,4.75,4.75,4.75,4.75,4.75,4.75
3,125646,GratefulBeerGuy,2017-12-20,0% 16 oz can. Funny story: As I finally wal...,4.75,4.75,4.50,4.50,4.50,4.58
4,125646,LukeGude,2017-12-20,Classic TH NEIPA. Overflowing head and bouq...,4.25,4.50,4.25,4.25,4.25,4.31
5,125646,jneff33,2017-12-20,,4.50,4.75,5.00,5.00,5.00,4.91
...,...,...,...,...,...,...,...,...,...,...
9073093,58482,beerthulhu,2009-08-24,A: Poured a pumpkin pie orange with gold hi...,4.00,3.00,4.00,3.50,3.50,3.61
9073094,58482,Billolick,2009-08-24,"On tap pours semi cloudy yellowy amber, it ...",4.00,3.50,4.00,4.00,3.50,3.78
9073095,58482,smcolw,2009-08-22,Large chalky white head. Leaves lots of spo...,4.00,3.50,3.50,4.00,3.50,3.58
9073096,58482,firkinhophead,2009-08-21,"pours a hazy, almost cloudy, autumn gold. A...",3.50,4.00,4.00,3.50,4.00,3.92
9073097,58482,CHADMC3,2009-08-21,Pours a hazy golden/orange to copper with a...,4.00,4.00,3.50,4.00,4.00,3.80

In [9]:
dfrevclean2 = dfrevclean.drop(columns=['username','date'])
#Reviews_Clean.to_csv(index=False)

In [11]:

#dfrevclean2.to_csv("reviews_top_beer_withoutuserdate")